:root{ 
    --strawberry-005: #FFF4F5;
    --strawberry-010: #FFEAEC;
    --strawberry-020: #F9D1D7;
    --strawberry-030: #EFA2AC;
    --strawberry-040: #E57785;
    --strawberry-050: #DB4F61;
    --strawberry-060: #D6263C;
    --strawberry-070: #CC0821;
    --strawberry-080: #B70017;
    --strawberry-090: #A30014;
    --blueberry-005: #DBE7FF;
    --blueberry-010: #C1D6FF;
    --blueberry-020: #A8C6FF;
    --blueberry-030: #8EB5FF;
    --blueberry-040: #75A4FF;
    --blueberry-050: #5B94FF;
    --blueberry-060: #4384FF;
    --blueberry-070: #266BEF;
    --blueberry-080: #0C52D6;
    --blueberry-090: #0041BC;
    --blueberry-100: #0038A3;
    --neutral-00: #FFFFFF;
    --neutral-005: #F9FBFC;
    --neutral-010: #F4F7F9;
    --neutral-020: #E6EBEF;
    --neutral-030: #AEB6BD;
    --neutral-040: #8A959E;
    --neutral-050: #4E5B66;
    --neutral-060: #323E48;
    --neutral-070: #2A3742;
    --neutral-080: #1E2C38;
    --neutral-090: #14222E;
    --neutral-100: #000000;
    --lime-005: #F2FFF2;
    --lime-010: #E5FFE5;
    --lime-020: #C7F9C7;
    --lime-030: #A4EAA4;
    --lime-040: #83DB83;
    --lime-050: #66CC66;
    --lime-060: #4BBC4B;
    --lime-070: #30A330;
    --lime-080: #1B891B;
    --lime-090: #0B700B;
    --lime-100: #005700;
    --banana-005: #FFFAEF;
    --banana-010: #FFF2D1;
    --banana-020: #FFF6DE;
    --banana-030: #FFE49E;
    --banana-040: #FFDD84;
    --banana-050: #FFD66B;
    --banana-060: #FFCF51;
    --banana-070: #E5A700;
    --banana-080: #CC9400;
    --banana-090: #996F00;
    --banana-100: #805D00;
    --elderberry-005: #F3F2FF;
    --elderberry-010: #E8E5FF;
    --elderberry-020: #D3CCFF;
    --elderberry-030: #B6B2FF;
    --elderberry-040: #9E99FF;
    --elderberry-050: #6D66FF;
    --elderberry-060: #726BFF;
    --elderberry-070: #372DE5;
    --elderberry-080: #1D14CC;
    --elderberry-090: #0800B2;
    --elderberry-100: #070099;
    --tangerine-005: #FEF3F1;
    --tangerine-010: #FEE9E4;
    --tangerine-020: #FEC5B6;
    --tangerine-030: #FEB09D;
    --tangerine-040: #FE9C84;
    --tangerine-050: #FE886A;
    --tangerine-060: #FE7351;
    --tangerine-070: #E55632;
    --tangerine-080: #CC3C18;
    --tangerine-090: #B22603;
    --tangerine-100: #991E00;
    --plum-005: #FAF2FF;
    --plum-010: #F5E5FF;
    --plum-020: #E9CCFF;
    --plum-030: #DEB2FF;
    --plum-040: #B472E5;
    --plum-050: #8E3DCC;
    --plum-060: #6D11B2;
    --plum-070: #5E00A5;
    --plum-080: #570099;
    --plum-090: #4F008C;
    --plum-100: #48007F;
    --raspberry-005: #FFF2FA;
    --raspberry-010: #FFE5F6;
    --raspberry-020: #FFCCED;
    --raspberry-030: #FFB2E4;
    --raspberry-040: #FF99DA;
    --raspberry-050: #FF7FD1;
    --raspberry-060: #FF4CBF;
    --raspberry-070: #E52DA4;
    --raspberry-080: #CC148B;
    --raspberry-90: #990063;
    --raspberry-100: #7F0052;
    --bluejavabanana-005: #F2FDFF;
    --bluejavabanana-010: #E5FCFF;
    --bluejavabanana-020: #C4F1F5;
    --bluejavabanana-030: #A4E6EB;
    --bluejavabanana-040: #86DAE0;
    --bluejavabanana-050: #51C3CC;
    --bluejavabanana-060: #25AFB7;
    --bluejavabanana-070: #0097A3;
    --bluejavabanana-080: #00858E;
    --bluejavabanana-090: #00727A;
    --bluejavabanana-100: #005E66;
    --strawberry-100: #8E0012;
    --strawberry: var(--strawberry-060);
    --neutral: var(--neutral-060);
    --lime: var(--lime-060);
    --blueberry: var(--blueberry-060);
    --banana: var(--banana-060);
    --elderberry: var(--elderberry-060);
    --tangerine: var(--tangerine-060);
    --plum: var(--plum-060);
    --raspberry: var(--raspberry-060);
    --blue-java-banana: var(--bluejavabanana-060);
    --lightgrey-000: #FFFFFF;
    --lightgrey-005: #FAFDFF;
    --lightgrey-010: #F2F5F7;
    --lightgrey-020: #E9ECF0;
    --lightgrey-030: #DFE4E8;
    --lightgrey-040: #CCD3D9;
    --lightgrey-050: #B9C2C9;
    --lightgrey-060: #A8B2BA;
    --lightgrey-070: #96A2AB;
    --lightgrey-080: #8E9AA3;
    --lightgrey-090: #85919B;
    --lightgrey-100: #7E8A94;
    --darkgrey-010: #7D8B99;
    --darkgrey-020: #71818F;
    --darkgrey-030: #637380;
    --darkgrey-040: #4B5A66;
    --darkgrey-050: #42505C;
    --darkgrey-060: #323E48;
    --darkgrey-070: #2A3742;
    --darkgrey-080: #1E2C38;
    --darkgrey-090: #14222E;
    --darkgrey-100: #000000;
}