:root {
--yellow-50: var(--banana-005);
--yellow-100: var(--banana-010);
--yellow-200: var(--banana-020);
--yellow-300: var(--banana-030);
--yellow-400: var(--banana-040);
--yellow-500: var(--banana-050);
--yellow-600: var(--banana-060);
--yellow-700: var(--banana-070);
--yellow-800: var(--banana-080);
--yellow-900: var(--banana-090);
--yellow-a700: var(--banana-050);
--yellow-a400: var(--banana-040);
--yellow-a200: var(--banana-030);
--yellow-a100: var(--banana-020);
--teal-50: var(--bluejavabanana-010);
--teal-100: var(--bluejavabanana-020);
--teal-200: var(--bluejavabanana-030);
--teal-300: var(--bluejavabanana-040);
--teal-400: var(--bluejavabanana-050);
--teal-500: var(--bluejavabanana-060);
--teal-600: var(--bluejavabanana-070);
--teal-700: var(--bluejavabanana-080);
--teal-800: var(--bluejavabanana-090);
--teal-900: var(--bluejavabanana-100);
--teal-a700: var(--bluejavabanana-060);
--teal-a400: var(--bluejavabanana-050);
--teal-a200: var(--bluejavabanana-040);
--teal-a100: var(--bluejavabanana-030);
--red-50: var(--strawberry-010);
--red-100: var(--strawberry-020);
--red-200: var(--strawberry-030);
--red-300: var(--strawberry-040);
--red-400: var(--strawberry-050);
--red-500: var(--strawberry-060);
--red-600: var(--strawberry-070);
--red-700: var(--strawberry-080);
--red-800: var(--strawberry-090);
--red-900: var(--strawberry-100);
--red-a700: var(--strawberry-060);
--red-a400: var(--strawberry-050);
--red-a200: var(--strawberry-040);
--red-a100: var(--strawberry-030);
--purple-50: var(--plum-010);
--purple-100: var(--plum-020);
--purple-200: var(--plum-030);
--purple-300: var(--plum-040);
--purple-400: var(--plum-050);
--purple-500: var(--plum-060);
--purple-600: var(--plum-070);
--purple-700: var(--plum-080);
--purple-800: var(--plum-090);
--purple-900: var(--plum-100);
--purple-a700: var(--plum-050);
--purple-a400: var(--plum-040);
--purple-a200: var(--plum-030);
--purple-a100: var(--plum-020);
--pink-50: var(--raspberry-010);
--pink-100: var(--raspberry-020);
--pink-200: var(--raspberry-030);
--pink-300: var(--raspberry-040);
--pink-400: var(--raspberry-050);
--pink-500: var(--raspberry-060);
--pink-600: var(--raspberry-070);
--pink-700: var(--raspberry-080);
--pink-800: var(--raspberry-90);
--pink-900: var(--raspberry-100);
--pink-a700: var(--raspberry-080);
--pink-a400: var(--raspberry-070);
--pink-a200: var(--raspberry-060);
--pink-a100: var(--raspberry-050);
--orange-50: var(--tangerine-010);
--orange-100: var(--tangerine-020);
--orange-200: var(--tangerine-030);
--orange-300: var(--tangerine-040);
--orange-400: var(--tangerine-050);
--orange-500: var(--tangerine-060);
--orange-600: var(--tangerine-070);
--orange-700: var(--tangerine-080);
--orange-800: var(--tangerine-090);
--orange-900: var(--tangerine-100);
--orange-a700: var(--tangerine-050);
--orange-a400: var(--tangerine-040);
--orange-a200: var(--tangerine-030);
--orange-a100: var(--tangerine-020);
--lime-50: var(--lime-005);
--lime-100: var(--lime-010);
--lime-200: var(--lime-020);
--lime-300: var(--lime-030);
--lime-400: var(--lime-040);
--lime-500: var(--lime-050);
--lime-600: var(--lime-060);
--lime-700: var(--lime-070);
--lime-800: var(--lime-080);
--lime-900: var(--lime-090);
--lime-a700: var(--lime-040);
--lime-a400: var(--lime-030);
--lime-a200: var(--lime-020);
--lime-a100: var(--lime-010);
--lightgreen-50: var(--lime-005);
--lightgreen-100: var(--lime-010);
--lightgreen-200: var(--lime-020);
--lightgreen-300: var(--lime-030);
--lightgreen-400: var(--lime-040);
--lightgreen-500: var(--lime-050);
--lightgreen-600: var(--lime-060);
--lightgreen-700: var(--lime-070);
--lightgreen-800: var(--lime-080);
--lightgreen-900: var(--lime-090);
--lightgreen-a700: var(--lime-050);
--lightgreen-a400: var(--lime-040);
--lightgreen-a200: var(--lime-030);
--lightgreen-a100: var(--lime-020);
--lightblue-50: var(--blueberry-010);
--lightblue-100: var(--blueberry-020);
--lightblue-200: var(--blueberry-030);
--lightblue-300: var(--blueberry-040);
--lightblue-400: var(--blueberry-050);
--lightblue-500: var(--blueberry-060);
--lightblue-600: var(--blueberry-070);
--lightblue-700: var(--blueberry-080);
--lightblue-800: var(--blueberry-090);
--lightblue-900: var(--blueberry-100);
--lightblue-a700: var(--blueberry-050);
--lightblue-a400: var(--blueberry-040);
--lightblue-a200: var(--blueberry-030);
--lightblue-a100: var(--blueberry-020);
--indigo-50: var(--elderberry-010);
--indigo-100: var(--elderberry-020);
--indigo-200: var(--elderberry-030);
--indigo-300: var(--elderberry-040);
--indigo-400: var(--elderberry-050);
--indigo-500: var(--elderberry-060);
--indigo-600: var(--elderberry-070);
--indigo-700: var(--elderberry-080);
--indigo-800: var(--elderberry-090);
--indigo-900: var(--elderberry-100);
--indigo-a700: var(--elderberry-060);
--indigo-a400: var(--elderberry-050);
--indigo-a200: var(--elderberry-040);
--indigo-a100: var(--elderberry-030);
--grey-50: var(--lightgrey-005);
--grey-100: var(--lightgrey-010);
--grey-200: var(--lightgrey-020);
--grey-300: var(--lightgrey-040);
--grey-400: var(--lightgrey-060);
--grey-500: var(--lightgrey-070);
--grey-600: var(--darkgrey-030);
--grey-700: var(--darkgrey-040);
--grey-800: var(--darkgrey-060);
--grey-900: var(--darkgrey-090);
--grey-a700: var(--darkgrey-040);
--grey-a400: var(--lightgrey-050);
--grey-a200: var(--lightgrey-100);
--grey-a100: var(--lightgrey-010);
--green-50: var(--lime-005);
--green-100: var(--lime-010);
--green-200: var(--lime-020);
--green-300: var(--lime-030);
--green-400: var(--lime-040);
--green-500: var(--lime-050);
--green-600: var(--lime-060);
--green-700: var(--lime-070);
--green-800: var(--lime-080);
--green-900: var(--lime-090);
--green-a700: var(--lime-050);
--green-a400: var(--lime-040);
--green-a200: var(--lime-030);
--green-a100: var(--lime-020);
--deeppurple-50: var(--plum-010);
--deeppurple-100: var(--plum-020);
--deeppurple-200: var(--plum-030);
--deeppurple-300: var(--plum-040);
--deeppurple-400: var(--plum-050);
--deeppurple-500: var(--plum-060);
--deeppurple-600: var(--plum-070);
--deeppurple-700: var(--plum-080);
--deeppurple-800: var(--plum-090);
--deeppurple-900: var(--plum-100);
--deeppurple-a700: var(--plum-060);
--deeppurple-a400: var(--plum-050);
--deeppurple-a200: var(--plum-040);
--deeppurple-a100: var(--plum-030);
--deeporange-50: var(--tangerine-010);
--deeporange-100: var(--tangerine-020);
--deeporange-200: var(--tangerine-030);
--deeporange-300: var(--tangerine-040);
--deeporange-400: var(--tangerine-050);
--deeporange-500: var(--tangerine-060);
--deeporange-600: var(--tangerine-070);
--deeporange-700: var(--tangerine-080);
--deeporange-800: var(--tangerine-090);
--deeporange-900: var(--tangerine-100);
--deeporange-a700: var(--tangerine-070);
--deeporange-a400: var(--tangerine-060);
--deeporange-a200: var(--tangerine-050);
--deeporange-a100: var(--tangerine-040);
--cyan-50: var(--bluejavabanana-010);
--cyan-100: var(--bluejavabanana-020);
--cyan-200: var(--bluejavabanana-030);
--cyan-300: var(--bluejavabanana-040);
--cyan-400: var(--bluejavabanana-050);
--cyan-500: var(--bluejavabanana-060);
--cyan-600: var(--bluejavabanana-070);
--cyan-700: var(--bluejavabanana-080);
--cyan-800: var(--bluejavabanana-090);
--cyan-900: var(--bluejavabanana-100);
--cyan-a700: var(--bluejavabanana-060);
--cyan-a400: var(--bluejavabanana-050);
--cyan-a200: var(--bluejavabanana-040);
--cyan-a100: var(--bluejavabanana-030);
--bluegrey-50: var(--lightgrey-020);
--bluegrey-100: var(--lightgrey-040);
--bluegrey-200: var(--lightgrey-050);
--bluegrey-300: var(--lightgrey-070);
--bluegrey-400: var(--lightgrey-100);
--bluegrey-500: var(--darkgrey-020);
--bluegrey-600: var(--darkgrey-030);
--bluegrey-700: var(--darkgrey-040);
--bluegrey-800: var(--darkgrey-050);
--bluegrey-900: var(--darkgrey-080);
--bluegrey-a700: var(--darkgrey-040);
--bluegrey-a400: var(--lightgrey-100);
--bluegrey-a200: var(--lightgrey-050);
--bluegrey-a100: var(--lightgrey-040);
--blue-50: var(--blueberry-010);
--blue-100: var(--blueberry-020);
--blue-200: var(--blueberry-030);
--blue-300: var(--blueberry-040);
--blue-400: var(--blueberry-050);
--blue-500: var(--blueberry-060);
--blue-600: var(--blueberry-070);
--blue-700: var(--blueberry-080);
--blue-800: var(--blueberry-090);
--blue-900: var(--blueberry-100);
--blue-a700: var(--blueberry-060);
--blue-a400: var(--blueberry-050);
--blue-a200: var(--blueberry-040);
--blue-a100: var(--blueberry-030);
--amber-50: var(--banana-010);
--amber-100: var(--banana-020);
--amber-200: var(--banana-030);
--amber-300: var(--banana-040);
--amber-400: var(--banana-050);
--amber-500: var(--banana-060);
--amber-600: var(--banana-070);
--amber-700: var(--banana-080);
--amber-800: var(--banana-090);
--amber-900: var(--banana-100);
--amber-a700: var(--banana-060);
--amber-a400: var(--banana-050);
--amber-a200: var(--banana-040);
--amber-a100: var(--banana-030);
}