:root {

    /* C A T E G O R I C A L */ 

    --primary-tint: var(--tangerine-005);
    --primary-lightest: var(--tangerine-010);
    --primary-lighter: var(--tangerine-030);
    --primary-light: var(--tangerine-050);
    --primary-dark: var(--tangerine-070);
    --primary-darker: var(--tangerine-080);
    --primary-darkest: var(--tangerine-100);
    --secondary-tint: var(--elderberry-005);
    --secondary-lightest: var(--elderberry-010);
    --secondary-lighter: var(--elderberry-030);
    --secondary-light: var(--elderberry-050);
    --secondary-dark: var(--elderberry-070);
    --secondary-darker: var(--elderberry-080);
    --secondary-darkest: var(--elderberry-100);
    --neutral-tint: var(--neutral01-tint);
    --neutral-lightest: var(--neutral01-lighter);
    --neutral-lighter: var(--neutral-01);
    --neutral-light: var(--neutral01-darkest);
    --neutral-dark: var(--neutral02-dark);
    --neutral-darker: var(--neutral02-darker);
    --neutral-darkest: var(--neutral02-darkest);
    --info-tint: var(--blueberry-005);
    --info-lightest: var(--blueberry-010);
    --info-lighter: var(--blueberry-030);
    --info-light: var(--blueberry-050);
    --info-dark: var(--blueberry-070);
    --info-darker: var(--blueberry-080);
    --info-darkest: var(--blueberry-100);
    --error-tint: var(--strawberry-005);
    --error-lightest: var(--strawberry-010);
    --error-lighter: var(--strawberry-030);
    --error-light: var(--strawberry-050);
    --error-dark: var(--strawberry-070);
    --error-darker: var(--strawberry-080);
    --error-darkest: var(--strawberry-100);
    --success-tint: var(--lime-005);
    --success-lightest: var(--lime-010);
    --success-lighter: var(--lime-020);
    --success-light: var(--lime-050);
    --success-dark: var(--lime-070);
    --success-darker: var(--lime-080);
    --success-darkest: var(--lime-100);
    --warning-tint: var(--banana-005);
    --warning-lightest: var(--banana-010);
    --warning-lighter: var(--banana-030);
    --warning-light: var(--banana-050);
    --warning-dark: var(--banana-070);
    --warning-darker: var(--banana-080);
    --pending-tint: var(--plum-005);
    --warning-darkest: var(--banana-100);
    --pending-lightest: var(--plum-010);
    --pending-lighter: var(--plum-030);
    --pending-light: var(--plum-050);
    --pending-dark: var(--plum-070);
    --pending-darker: var(--plum-080);
    --pending-darkest: var(--plum-100);
    --neutral01-tint: var(--lightgrey-005);
    --neutral01-lightest: var(--lightgrey-010);
    --neutral01-lighter: var(--lightgrey-030);
    --neutral01-light: var(--lightgrey-050);
    --neutral01-dark: var(--lightgrey-070);
    --neutral01-darker: var(--lightgrey-080);
    --neutral01-darkest: var(--lightgrey-100);
    --neutral02-lightest: var(--darkgrey-010);
    --neutral02-lighter: var(--darkgrey-030);
    --neutral02-light: var(--darkgrey-050);
    --neutral02-dark: var(--darkgrey-070);
    --neutral02-darker: var(--darkgrey-080);
    --neutral02-darkest: var(--darkgrey-100);
    --alt01-tint: var(--raspberry-005);
    --alt01-lightest: var(--raspberry-010);
    --alt01-lighter: var(--raspberry-030);
    --alt01-light: var(--raspberry-050);
    --alt01-dark: var(--raspberry-070);
    --alt01-darker: var(--raspberry-080);
    --alt02-tint: var(--bluejavabanana-005);
    --alt01-darkest: var(--raspberry-100);
    --alt02-lightest: var(--bluejavabanana-010);
    --alt02-lighter: var(--bluejavabanana-030);
    --alt02-light: var(--bluejavabanana-050);
    --alt02-dark: var(--bluejavabanana-070);
    --alt02-darker: var(--bluejavabanana-080);
    --alt02-darkest: var(--bluejavabanana-100);
    --neutral: var(--neutral-02);
    --neutral-01: var(--lightgrey-060);
    --neutral-02: var(--darkgrey-060);
    --info: var(--blueberry);
    --error: var(--strawberry-060);
    --success: var(--lime);
    --warning: var(--banana);
    --pending: var(--plum);
    --alt-01: var(--raspberry);
    --alt-02: var(--blue-java-banana);
    --primary: var(--tangerine);
    --secondary: var(--elderberry);
    --neutral-00: var(--lightgrey-000);


    /* S E M A N T I C */
    --semantic-tint: var(--info-tint);
    --semantic-lightest: var(--info-lightest);
    --semantic-lighter: var(--info-lighter);
    --semantic-light: var(--info-light);
    --semantic-default: var(--info);
    --semantic-dark: var(--info-dark);
    --semantic-darker: var(--info-darker);
    --semantic-darkest: var(--info-darkest);


    /* M E S S A G I N G */
    --messaging-tint: var(--pending-tint);
    --messaging-lightest: var(--pending-lightest);
    --messaging-lighter: var(--pending-lighter);
    --messaging-light: var(--pending-light);
    --messaging-default: var(--pending);
    --messaging-dark: var(--pending-dark);
    --messaging-darker: var(--pending-darker);
    --messaging-darkest: var(--pending-darkest);


     /* B A S E  T H E M E  V A R I A B L E S  */
     --text-color-01: var(--neutral-darkest);
     --text-color-02: var(--neutral);
     --text-color-03: var(--neutral02-light);
     --text-color-04: var(--neutral-00);
     --text-color-05: var(--info-dark);
     --text-color-06: var(--error-darker);
     --text-color-07: var(--neutral-00);
     --icon-color-01: var(--primary);
     --icon-color-02: var(--secondary);
     --icon-color-03: var(--neutral02-darkest);
     --icon-color-04: var(--neutral);
     --icon-color-05: var(--semantic-dark);
     --icon-color-06: var(--neutral-00);
     --icon-color-07: var(--messaging-dark);
     --icon-color-08: var(--neutral02-lighter);
     --border-color-01: var(--neutral01-lighter);
     --border-color-02: var(--neutral-00);
     --border-color-03: var(--neutral01-lightest);
     --border-color-04: var(--neutral01-dark);
     --border-color-05: var(--error-dark);
     --border-color-06: var(--neutral02-lighter);
     --ui-background-01: var(--neutral-00);
     --ui-background-02: var(--neutral01-lightest);
     --ui-background-03: var(--info-tint);
     --disabled-content-color: var(--neutral01-darkest);
     --disabled-border-color: var(--neutral-01);
     --disabled-background-color: var(--neutral01-lighter);
     --interactive-states-01: var(--info);
     --interactive-states-01-default: var(--neutral-00);
     --interactive-states-02-default: var(--neutral-light);
     --interactive-states-03-default: var(--info-lightest);
     --interactive-states-03-hover: var(--info-tint);
     --interactive-states-03-active: var(--info-lighter);
     --interactive-states-04-default: var(--neutral-00);
     --interactive-states-04-default-transparent: var(--neutral-00);
     --interactive-states-02: var(--info-dark);
     --interactive-states-03: var(--info-light);
     --selected-01: var(--info-tint);
     --selected-02: var(--info-lightest);
     --selected-03: var(--neutral02-lightest);
     --border-color-07: var(--info-lighter);
     --body-background: var(--neutral-tint);
     --semantic-01: var(--semantic-darkest);
     --semantic-02: var(--semantic-dark);
     --semantic-03: var(--semantic-lightest);
     --semantic-04: var(--semantic-default);
     --messaging-01: var(--messaging-darkest);
     --messaging-02: var(--messaging-dark);
     --messaging-03: var(--messaging-lightest);
     --messaging-04: var(--messaging-default);
     --border-color-08: var(--info-dark);
     --outer-focus-border-weight: 6;
     --inner-focus-border-weight: 2;


    /* G R I D  */
    --value-none: 0;
    --value-xx-small: 2;
    --value-x-small: 4;
    --value-small: 8;
    --value-base: 16;
    --value-medium: 24;
    --value-large: 32;
    --value-x-large: 40;
    --value-xx-large: 48;
    --value-xxx-large: 56;
    --value-jumbo: 64;
    --space-none: var(--value-none);
    --space-xx-small: var(--value-xx-small);
    --space-x-small: var(--value-x-small);
    --space-small: var(--value-small);
    --space-base: var(--value-base);
    --space-medium: var(--value-medium);
    --space-large: var(--value-large);
    --space-x-large: var(--value-x-large);
    --space-xx-large: var(--value-xx-large);
    --space-xxx-large: var(--value-xxx-large);
    --border-radius-x-small: var(--value-x-small);
    --border-radius-small: var(--value-small);
    --space-jumbo: var(--value-jumbo);
    --border-radius-base: var(--value-base);
    --border-radius-round: 999;
    --size-xx-small: var(--value-xx-small);
    --size-x-small: var(--value-x-small);
    --size-small: var(--value-small);
    --size-base: var(--value-base);
    --size-medium: var(--value-medium);
    --size-large: var(--value-large);
    --size-x-large: var(--value-x-large);
    --size-xx-large: var(--value-xx-large);
    --size-xxx-large: var(--value-xxx-large);
    --size-jumbo: var(--value-jumbo);
    --elevation-x: 0;
    --elevation-color: #323E4814;
    --elevation-blur-drop-shadow-01: 2;
    --elevation-y-drop-shadow-01: 1;
    --elevation-spread-drop-shadow-01: 0;
    --elevation-spread-drop-shadow-02: 0.5;
    --elevation-blur-drop-shadow-02: 4;
    --elevation-y-drop-shadow-02: 2;
    --elevation-spread-drop-shadow-03: 1;
    --elevation-spread-drop-shadow-04: 2;
    --elevation-spread-drop-shadow-05: 3;
    --elevation-spread-drop-shadow-06: 4;
    --elevation-y-drop-shadow-03: 3;
    --elevation-spread-drop-shadow-07: 4;
    --elevation-y-drop-shadow-04: 4;
    --elevation-spread-pressed: 0;
    --elevation-y-drop-shadow-05: 5;
    --elevation-y-drop-shadow-06: 6;
    --elevation-y-drop-shadow-07: 7;
    --elevation-blur-drop-shadow-03: 6;
    --elevation-blur-drop-shadow-04: 8;
    --elevation-blur-drop-shadow-05: 10;
    --elevation-blur-drop-shadow-06: 12;
    --elevation-spread-inset-01: 0.5;
    --elevation-spread-inset-02: 1;
    --elevation-blur-drop-shadow-07: 16;
    --elevation-spread-inset-03: 2;
    --elevation-spread-inset-04: 2;
    --elevation-y-pressed: 0;
    --elevation-y-inset: 0;
    --elevation-blur-pressed: 4;
    --elevation-blur-inset-01: 4;
    --elevation-blur-inset-02: 6;
    --elevation-blur-inset-03: 8;
    --elevation-blur-inset-04: 12;


    /* I N T E R A C T I O N */ 

    --interactive-overlay-01: #FFFFFF00;
    --interactive-overlay-02: #FFFFFF00;
    --interactive-overlay-03: #FFFFFF00;
    --interactive-overlay-04: #FFFFFF00;
    --interactive-overlay-semantic: #1E2C3800;
    --interactive-overlay-messaging: #1E2C3800;
    --interactive-border-interactive-border: var(--border-color-04);
    --interactive-border-interactive-border-error: var(--border-color-05);
    --interactive-control-content-01: var(--interactive-states-01-default);
    --interactive-control-02: var(--interactive-states-01);
    --interactive-control-04: var(--interactive-states-03-default);
    --interactive-container: var(--interactive-states-04-default);
    --interactive-utility-focus-border-opacity: 0;
    --interactive-utility-inner-focus-border: #FFFFFF00;
    --interactive-utility-outer-focus-border: #FFFFFF00;
    --interactive-utility-display-on-interaction: #FFFFFF00;

    /* F O N T  P A R A M E T E R S */ 
    --font-size-050: 12;
    --font-size-075: 14;
    --font-size-100: 16;
    --font-size-200: 20;
    --font-size-300: 24;
    --font-size-400: 28;
    --font-size-500: 32;
    --font-size-600: 36;
    --font-size-700: 40;
    --font-weight-100: 450;
    --font-weight-200: 550;
    --font-weight-300: 625;
    --font-weight-400: 650;
    --font-weight-500: 700;
    --line-height-100: 100;
    --line-height-125: 125;
    --line-height-150: 150;
    --line-height-175: 175;
    --line-height-200: 200;

}





/* -----------------  Semantic  ---------------- */ 
.info {
    --semantic-tint: var(--info-tint);
    --semantic-lightest: var(--info-lightest);
    --semantic-lighter: var(--info-lighter);
    --semantic-light: var(--info-light);
    --semantic-default: var(--info);
    --semantic-dark: var(--info-dark);
    --semantic-darker: var(--info-darker);
    --semantic-darkest: var(--info-darkest);
    }

.error {
    --semantic-tint: var(--error-tint);
    --semantic-lightest: var(--error-lightest);
    --semantic-lighter: var(--error-lighter);
    --semantic-light: var(--error-light);
    --semantic-default: var(--error);
    --semantic-dark: var(--error-dark);
    --semantic-darker: var(--error-darker);
    --semantic-darkest: var(--error-darkest);
    }

.success {
    --semantic-tint: var(--success-tint);
    --semantic-lightest: var(--success-lightest);
    --semantic-lighter: var(--success-lighter);
    --semantic-light: var(--success-light);
    --semantic-default: var(--success);
    --semantic-dark: var(--success-dark);
    --semantic-darker: var(--success-darker);
    --semantic-darkest: var(--success-darkest);
    }

.warning {
    --semantic-tint: var(--warning-tint);
    --semantic-lightest: var(--warning-lightest);
    --semantic-lighter: var(--warning-lighter);
    --semantic-light: var(--warning-light);
    --semantic-default: var(--warning);
    --semantic-dark: var(--warning-dark);
    --semantic-darker: var(--warning-darker);
    --semantic-darkest: var(--warning-darkest);
    }

/*---------------------------------------------*/ 


/* ----------------- Messaging ---------------- */ 

.pending {
    --messaging-tint: var(--pending-tint);
    --messaging-lightest: var(--pending-lightest);
    --messaging-lighter: var(--pending-lighter);
    --messaging-light: var(--pending-light);
    --messaging-default: var(--pending);
    --messaging-dark: var(--pending-dark);
    --messaging-darker: var(--pending-darker);
    --messaging-darkest: var(--pending-darkest);
}

.neutral {
    --messaging-tint: var(--neutral-tint);
    --messaging-lightest: var(--neutral01-lightest);
    --messaging-lighter: var(--neutral-lighter);
    --messaging-light: var(--neutral-light);
    --messaging-default: var(--neutral);
    --messaging-dark: var(--neutral-dark);
    --messaging-darker: var(--neutral-darker);
    --messaging-darkest: var(--neutral-darkest);
    }

.at-01 {
    --messaging-tint: var(--alt01-tint);
    --messaging-lightest: var(--alt-01-lightest);
    --messaging-lighter: var(--alt-01-lighter);
    --messaging-light: var(--alt-01-light);
    --messaging-default: var(--alt-01);
    --messaging-dark: var(--alt-01-dark);
    --messaging-darker: var(--alt-01-darker);
    --messaging-darkest: var(--alt-01-darkest);
}

.alt-02 {
    --messaging-tint: var(--alt02-tint);
    --messaging-lightest: var(--alt02-lightest);
    --messaging-lighter: var(--alt02-lighter);
    --messaging-light: var(--alt02-light);
    --messaging-default: var(--alt-02);
    --messaging-dark: var(--alt02-dark);
    --messaging-darker: var(--alt02-darker);
    --messaging-darkest: var(--alt02-darkest);
}

/*---------------------------------------------*/ 

/* ---------------- Base Theme --------------- */ 

.disabled {
    --text-color-01: var(--disabled-content-color);
    --text-color-02: var(--disabled-content-color);
    --text-color-03: var(--disabled-content-color);
    --text-color-04: var(--disabled-content-color);
    --text-color-05: var(--disabled-content-color);
    --text-color-06: var(--disabled-content-color);
    --text-color-07: var(--disabled-background-color);
    --icon-color-01: var(--disabled-content-color);
    --icon-color-02: var(--disabled-content-color);
    --icon-color-03: var(--disabled-content-color);
    --icon-color-04: var(--disabled-content-color);
    --icon-color-05: var(--disabled-content-color);
    --icon-color-06: var(--disabled-content-color);
    --icon-color-07: var(--disabled-content-color);
    --icon-color-08: var(--disabled-content-color);
    --border-color-01: var(--disabled-border-color);
    --border-color-02: var(--disabled-border-color);
    --border-color-03: var(--disabled-border-color);
    --border-color-04: var(--disabled-border-color);
    --border-color-05: var(--disabled-border-color);
    --border-color-06: var(--disabled-border-color);
    --ui-background-01: var(--neutral-00);
    --ui-background-02: var(--disabled-background-color);
    --ui-background-03: var(--disabled-background-color);
    --disabled-content-color: var(--neutral01-darkest);
    --disabled-border-color: var(--neutral-01);
    --disabled-background-color: var(--neutral01-lighter);
    --interactive-states-01: var(--disabled-content-color);
    --interactive-states-01-default: var(--disabled-content-color);
    --interactive-states-02-default: var(--disabled-background-color);
    --interactive-states-03-default: var(--disabled-background-color);
    --interactive-states-03-hover: var(--disabled-background-color);
    --interactive-states-03-active: var(--disabled-background-color);
    --interactive-states-04-default: var(--disabled-background-color);
    --interactive-states-04-default-transparent: #FFFFFF00;
    --interactive-states-02: var(--disabled-content-color);
    --interactive-states-03: var(--disabled-content-color);
    --selected-01: var(--disabled-background-color);
    --selected-02: var(--disabled-background-color);
    --selected-03: var(--disabled-background-color);
    --border-color-07: var(--disabled-border-color);
    --body-background: var(--neutral-tint);
    --semantic-01: var(--disabled-content-color);
    --semantic-02: var(--disabled-border-color);
    --semantic-03: var(--disabled-background-color);
    --semantic-04: var(--disabled-background-color);
    --messaging-01: var(--disabled-content-color);
    --messaging-02: var(--disabled-border-color);
    --messaging-03: var(--disabled-background-color);
    --messaging-04: var(--disabled-background-color);
    --border-color-08: var(--disabled-border-color);
    --outer-focus-border-weight: 6;
    --inner-focus-border-weight: 2;
    }

    /*---------------------------------------------*/ 
    
    /* ---------------- Interaction --------------- */ 

    :hover{
        --interactive-overlay-01: #FFFFFF51;
        --interactive-overlay-02: #1E2C3814;
        --interactive-overlay-03: #FFFFFF28;
        --interactive-overlay-04: var(--ui-background-03);
        --interactive-overlay-semantic: var(--semantictint);
        --interactive-overlay-messaging: var(--messaging-tint);
        --interactive-border-interactive-border: var(--border-color-06);
        --interactive-border-interactive-border-error: var(--error);
        --interactive-control-content-01: var(--info-tint);
        --interactive-control-02: var(--interactive-states-03);
        --interactive-control-04: var(--interactive-states-03-hover);
        --interactive-container: var(--ui-background-03);
        --interactive-utility-focus-border-opacity: 0;
        --interactive-utility-inner-focus-border: #FFFFFF00;
        --interactive-utility-outer-focus-border: #FFFFFF00;
        --interactive-utility-display-on-interaction: var(--icon-color-04);
    }

    :focus{
        --interactive-overlay-01: #FFFFFF51;
        --interactive-overlay-02: #1E2C3814;
        --interactive-overlay-03: #FFFFFF28;
        --interactive-overlay-04: var(--ui-background-03);
        --interactive-overlay-semantic: var(--semantictint);
        --interactive-overlay-messaging: var(--messaging-tint);
        --interactive-border-interactive-border: var(--border-color-06);
        --interactive-border-interactive-border-error: var(--error);
        --interactive-control-content-01: var(--info-tint);
        --interactive-control-02: var(--interactive-states-03);
        --interactive-control-04: var(--interactive-states-03-hover);
        --interactive-container: var(--ui-background-03);
        --interactive-utility-focus-border-opacity: 100;
        --interactive-utility-inner-focus-border: var(--border-color-02);
        --interactive-utility-outer-focus-border: var(--interactive-states-03);
        --interactive-utility-display-on-interaction: var(--icon-color-04);
    }

    :active{
        --interactive-overlay-01: #1E2C3805;
        --interactive-overlay-02: #1E2C381E;
        --interactive-overlay-03: #1E2C381E;
        --interactive-overlay-04: var(--info-lightest);
        --interactive-overlay-semantic: var(--semantic-lightest);
        --interactive-overlay-messaging: var(--messaging-lightest);
        --interactive-border-interactive-border: var(--border-color-06);
        --interactive-border-interactive-border-error: var(--error-darker);
        --interactive-control-content-01: var(--info-lightest);
        --interactive-control-02: var(--interactive-states-02);
        --interactive-control-04: var(--interactive-states-03-active);
        --interactive-container: var(--info-lightest);
        --interactive-utility-focus-border-opacity: 0;
        --interactive-utility-inner-focus-border: #FFFFFF00;
        --interactive-utility-outer-focus-border: #FFFFFF00;
        --interactive-utility-display-on-interaction: var(--icon-color-04);
    }


